<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app1" v-bind:class = "classObject">222s</div>
    <script>
        var a1 = new Vue({
            el:"#app1",
            data:{
                classObject: {
                    active:true,
                    'text-danger':true
                }
            }
        })
    </script>

    <div id="app2">
        <input type="radio" v-model="myBox" value="apple"/>
        <input type="radio" v-model="myBox" value="banada"/>
        <input type="radio" v-model="myBox" value="pineapple"/>
        {{myBox}}
    </div>
    <script>
        new Vue({
            el:"#app2",
            data(){
                return {
                    myBox:[]
                }
            }
        })
    </script>

    <div id="app3">
        <input type="text" v-model="msg" value="apple"/>
        {{caclatur}}
    </div>
    <script>
        new Vue({
            el:"#app3",
            data(){
                return {
                    msg:'aaa'
                }
            },
            computed:{
                caclatur(){
                    return this.msg.replace(/\d/g,'');
                }
            }
        })
    </script>
</body>
</html>